<div>
    <select [(ngModel)] = "foaas">
        <option *ngFor="let fo of foaasList" [ngValue]="fo">{{fo.name}}</option>
    </select>
    <button [disabled] = "foaas == null" id="delete" type="button" class="btn btn-outline-primary" (click) = "removeOption()">Delete</button>
        <br>

        
    <button [disabled] = "foaas == null" type="button" class="btn btn-outline-primary" (click) = "send()">Get</button>
        <div *ngIf="directFoaas.length > 0">
            <a href={{directFoaas}}>Continue</a>
        </div>
    <br>
    <br>
</div>

<div>
    <div *ngIf="foaas != null && foaas.fields.length > 0">{{foaas.fields[0].field}}<br><input [disabled] = "foaas == null || foaas.fields[0]==null" [(ngModel)] = "field_1" type="text"/><br></div>
    <div *ngIf="foaas != null && foaas.fields.length > 1">{{foaas.fields[1].field}}<br><input [disabled] = "foaas == null || !(foaas.fields.length > 1)" [(ngModel)] = "field_2" type="text"/><br></div> 
    <div *ngIf="foaas != null && foaas.fields.length > 2">{{foaas.fields[2].field}}<br><input [disabled] = "foaas == null || !(foaas.fields.length > 2)" [(ngModel)] = "field_3" type="text"/><br></div>
</div>

<br>
<br>
